/* Base Weblog (base-weblog.css) */

/* basic elements */

html
{
   margin: 0;
   /* setting border: 0 hoses ie6 win window inner well border */
   padding: 0;
}

body
{
   margin: 0;
   /* setting border: 0 hoses ie5 win window inner well border */
   padding: 0;
   font-family: Tahoma,'trebuchet ms',verdana, 'trebuchet ms', sans-serif;
   font-size: 12px;
}

form, input { 
   margin: 0; padding: 0; 
}

a { 
   color: #0082FF;
   text-decoration: none; 
}

a img { 
   border: 0; 
}

a:link {
   text-decoration: none; 
   padding-right: 1px; 
   padding-left: 1px; 
   padding-bottom: 1px; 
   padding-top:1px ;
   color: #0082FF;
}

a:visited {
   color: #0082FF;
   text-decoration: none; 
   padding-right: 1px; 
   padding-left: 1px; 
   padding-bottom: 1px; 
   padding-top:1px ;
}

a:hover {    
   border-top-style: none; 
   border-right-style: none; 
   border-left-style: none; 
   text-decoration: none; 
   border-bottom-style: none;
   background: #bbd0f9;
   padding-right: 1px; 
   padding-left: 1px; 
   padding-bottom: 1px; 
   padding-top:1px ;
   color:black;
}

a:active{    
   border-top-style: none; 
   border-right-style: none; 
   border-left-style: none; 
   text-decoration: none; 
   border-bottom-style: none;
   background: #6495ed;
   color:black;
}

#header {
   background: #7d9df1; 
   height: 100px
   margin: 0; padding: 0; 
}

#header h1 {
    padding-right: 0px; 
    padding-left: 30px; 
    font-size: 16px; 
    padding-bottom: 0px; 
    margin: 0px; 
    padding-top: 5px; 
    font-family: Verdana, Arial, "Trebuchet MS", Tahoma,Helvetica, sans-serif;
    font-weight: bold; 
    font-variant: small-caps; 
    margin:0; 
    padding:0;
    text-decoration: none;
}

#header h2 {
    padding-right: 0px; 
    padding-left: 30px; 
    font-size: 12px; 
    padding-bottom: 0px; 
    margin: 0px; 
    padding-top: 5px; 
    font-family: tahoma,"Trebuchet MS", Verdana;
    margin:0; 
    padding:0;
}

#header ul{margin:0;padding:0;}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1{
    font: 14px Verdana,Tahoma,Arial,sans-serif,Helvetica;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-weight: normal;
 }

h2, h3 {
         margin: 0px;
         padding: 0px;
         font-weight: normal;
         line-height: 100%;
         font-size: 12px;
	}

h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote
{
   margin-top: 10px;
   margin-bottom: 10px;
}


/* standard helper classes */

.clr
{
   clear: both;
   overflow: hidden;
   width: 1px;
   height: 1px;
   margin: 0 -1px -1px 0;
   border: 0;
   padding: 0;
   font-size: 0;
   line-height: 0px;
}

/* .pkg class wraps enclosing block element around inner floated elements */

.pkg:after
{
   content: " ";
   display: block;
   visibility: hidden;
   clear: both;
   height: 0.1px;
   font-size: 0.1em;
   line-height: 0px;
}
* html .pkg { display: inline-block; margin:0;padding:0;}
/* no ie mac \*/
* html .pkg { height: 1%; margin:0;padding:0;}
.pkg { display: block;  margin:0;padding:0;}
/* */


/* page layout */

body { text-align: center; } /* center on ie */

#container
{ padding:0;
   position: relative;
   margin: 0 auto; /* center on everything else */
   width: 780px;
   text-align: left;
}
#container-inner { position: static; width: auto; margin:0;padding:0;}}

#banner { position: relative; margin:0;padding:0;}
#banner-inner { position: static; margin:0;padding:0;}

#pagebody { position: relative; width: 100%; }
#pagebody-inner { position: static; width: 100%; }

#alpha, #beta, #gamma, #delta
{
   display: inline; /* ie win bugfix */
   position: relative;
   float: left;
   min-height: 1px;
}

#delta { float: right; }

#alpha-inner, #beta-inner, #gamma-inner, #delta-inner
{
   position: static;
}


/* banner user/photo */

.banner-user
{
   float: left;
   overflow: hidden;
   width: 64px;
   margin: 0 1px 0 0;
   border: 0;
   padding: 0;
   text-align: center;
}

.banner-user-photo
{
   display: block;
   margin: 0 0 2px 0;
   border: 0;
   padding: 0;
   background-position: center center;
   background-repeat: no-repeat;
   text-decoration: none !important;
}

.banner-user-photo img
{
   width: 64px;
   height: auto;
   margin: 0;
   border: 0;
   padding: 0;
}


/* content */

.content-nav
{
   margin: 10px;
   text-align: center;
}

.date-header,
.entry-content
{
   position: static;
   clear: both;
   width:100% ;
}

.entry,
.trackbacks,
.comments,
.archive
{
   position: static;
   overflow: hidden;
   clear: both;
   width: 100%;
   margin-bottom: 20px;
}

.entry-content,
.trackbacks-info,
.trackback-content,
.comments-closed
{
   clear: both;
   margin: 4px 8px;
   width:100%;
}

.comment-content,
.comments-open-content {
   clear: both;
   margin: 4px 8px 8px 8px;
   width:90%;
}

.entry-excerpt,
.entry-body,
.entry-more-link,
.entry-more
{
   clear: both;
}

.entry-footer,
.trackback-footer,
.comment-footer,
.comments-open-footer,
.archive-content
{
   clear: both;
   margin: 5px 5px 5px 5px;
}

/* &#230;&#381;¡ì&#229;&#710;&#182; entry &#230; &#188;&#229;&#188;&#143; */
.entry hr {
    position: relative;
    visibility: visible;
    height: 1px;
    border: solid #8FAEBE;
    width: 100%;
}

.entry-content hr {
    position: relative;
    visibility: visible;
    height: 1px;
    border: solid #8FAEBE;
    width: 100%;
}

.entry-content table {
   background-color: #000000;
   border:0;
}

.entry-content td {
   background-color: #ffffff;
   border: 1px solid;
}

.entry h1,h2 {	
 	font-family: Tahoma,Arial, Optima,Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
	
.entry h3 {
	font-family: Tahoma,Arial, Optima,Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.entry h4, h5, h6{
	font-family: Tahoma,Optima,Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.comments-open label { display: block; }

#comment-author, #comment-email, #comment-url, #comment-text
{
   width: 480px;
}

#comment-bake-cookie
{
   margin-left: 0;
   vertical-align: middle;
}

#comment-post
{
   font-weight: bold;
}

img.image-full { width: 100%; }

.image-thumbnail
{
   float: left;
   width: 115px;
   margin: 0 10px 10px 0;
}

.image-thumbnail img
{
   width: 115px;
   height: 115px;
   margin: 0 0 2px 0;
}


/* modules */

.module
{
   position: relative;
   overflow: hidden;
   width: 100%;
}

.module-content
{
   position: relative;
   margin: 5px 10px 20px 10px;
   background: #FF0000;
}

.module-list,
.archive-list
{
   margin: 0;
   padding: 0;
   list-style: none;
}

.module-list-item
{
   margin-top: 3px;
   margin-bottom: 3px;
}

.module-list-ul {
list-style: none;
margin-top: 2px;
margin-bottom: 2px;
}

.module-presence img { vertical-align: middle; }
.module-powered .module-content { margin-bottom: 10px; }
.module-photo .module-content { text-align: center; }
.module-wishlist .module-content { text-align: center; }

.module-calendar .module-content table
{
   border-collapse: collapse;
}

.module-calendar .module-content th,
.module-calendar .module-content td
{
   width: 14%;
   text-align: center;
}

.typelist-thumbnailed { margin: 0 0 20px 0; }

.typelist-thumbnailed .module-list-item
{
   display: block;
   clear: both;
   margin: 0;
}

/* positioniseverything.net/easyclearing.html */
.typelist-thumbnailed .module-list-item:after
{
   content: " ";
   display: block;
   visibility: hidden;
   clear: both;
   height: 0.1px;
   font-size: 0.1em;
   line-height: 0px;
}
* html .typelist-thumbnailed .module-list-item { display: inline-block; }
/* no ie mac \*/
* html .typelist-thumbnailed .module-list-item { height: 1%; }
.typelist-thumbnailed .module-list-item { display: block; }
/* */

.typelist-thumbnail
{
   float: left;
   min-width: 60px;
   width: 60px;
   /* no ie mac \*/width: auto;/* */
   margin: 0 5px 0 0;
   text-align: center;
   vertical-align: middle;
}

.typelist-thumbnail img { margin: 5px; }

.module-galleries .typelist-thumbnail img { width: 50px; }

.typelist-description
{
   margin: 0;
   padding: 5px;
}

.module-featured-photo .module-content,
.module-photo .module-content
{
   margin: 0;
}

.module-featured-photo img { width: 100%; }

.module-recent-photos { margin: 0 0 15px 0; }
.module-recent-photos .module-content { margin: 0; }
.module-recent-photos .module-list
{
   display: block;
   height: 1%;
   margin: 0;
   border: 0;
   padding: 0;
   list-style: none;
}

/* positioniseverything.net/easyclearing.html */
.module-recent-photos .module-list:after
{
   content: " ";
   display: block;
   visibility: hidden;
   clear: both;
   height: 0.1px;
   font-size: 0.1em;
   line-height: 0px;
}
* html .module-recent-photos .module-list { display: inline-block; }
/* no ie mac \*/
* html .module-recent-photos .module-list { height: 1%; }
.module-recent-photos .module-list { display: block; }
/* */

.module-recent-photos .module-list-item
{
   display: block;
   float: left;
   /* ie win fix \*/ height: 1%; /**/
   margin: 0;
   border: 0;
   padding: 0;
}

.module-recent-photos .module-list-item a
{
   display: block;
   margin: 0;
   border: 0;
   padding: 0;
}

.module-recent-photos .module-list-item img
{
   width: 60px;
   height: 60px;
   margin: 0;
   padding: 0;
}


/* mmt calendar */

.module-mmt-calendar { margin-bottom: 15px; }
.module-mmt-calendar .module-content { margin: 0; }
.module-mmt-calendar .module-header { margin: 0; }
.module-mmt-calendar .module-header a { text-decoration: none; }
.module-mmt-calendar table { width: 100%; }

.module-mmt-calendar th { text-align: left; }

.module-mmt-calendar td
{
   width: 14%;
   height: 75px;
   text-align: left;
   vertical-align: top;
}

.day-photo
{
   width: 54px;
   height: 54px;
}

.day-photo a
{
   display: block;
}

.day-photo a img
{
   width: 50px;
   height: 50px;
}




/* Vicksburg (theme-vicksburg.css) */

/* basic page elements */

body
{
   font-family: Tahoma,"Trebuchet MS", verdana, helvetica, arial, sans-serif;
   font-size: 12px;
}

#banner a { 
    color: black; 
    text-decoration: none; 
}
#banner a:hover { 
    color: black; 
    background: transparent;
                 }

/* &#230;&#381;¡ì&#229;&#710;&#182;¨¦&#166;¨C¨¦&#161;&#181;&#230; &#8225;¨¦&#162;&#732;  */
#banner h1{ 
    font-family: verdana, Tahoma,'trebuchet ms',helvetica, arial, sans-serif;
    font-size:16px;
    font-weight: bold;
    padding-top: 5px;
}

/* .module-content a { color: #36414d; } */
/* .module-content a:hover { color: #a3b8cc; } */

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
   /* ie win (5, 5.5, 6) bugfix */
   p\osition: relative;
   width: 90%;
   w\idth: auto;
   margin: 0 5px 0 5px;
   border-top: 1px solid #bbd0f9;
   padding: 5px;
   background: #e5ecf9;
   font-size: 12px;
   font-weight: normal;
   line-height: normal;
   text-transform: capitalize;;
}

.module-header a,
.module-header a:hover,
.trackbacks-header a,
.trackbacks-header a:hover,
.comments-header a,
.comments-header a:hover,
.comments-open-header a,
.comments-open-header a:hover
.archive-header a,
.archive-header a:hover
{
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
   font-size: 12px;
}

.commenter-profile img { vertical-align: middle; }


/* page layout */

body
{
   min-width: 780px;
   color: #333;
   background: #eee;
}

#container
{
   width: 780px;
   margin-bottom: 20px;
   background: #fff;
}

#container-inner
{
   border-width: 0px 0px 0px 0px;
   border-style: solid;
   border-color: #bbd0f9;
   border-right: 1px solid #bbd0f9;
   border-bottom: 1px solid #bbd0f9;
   border-left: 1px solid #bbd0f9;
   border-top:2px;
}

#banner
{
   width: 779px; /* necessary for ie win */
   margin:0;
   padding: 0;

}

#banner-inner
{
   margin:0;
   padding: 10px 0px 0px 5px;
   border-width: 1px 0px 1px 0px;
   border-style: solid;
   border-color: #bbd0f9;
}

.banner-user
{
   width: 70px;
   margin-top: 5px;
   font-size: 11px;
}

.banner-user-photo { border: 1px solid #fff; }

#banner-header
{
   margin: 5px 0px 0px 0px;
   margin-left: 10px;
   font-size: 16pt;
   font-family: Verdana,Tahoma,Arial, Helvetica, sans-serif;
   font-weight: bold;
   line-height: 1.3;
   text-shadow: #36414d 0 2px 3px;
   margin-top: 5px;
   margin-bottom: 0px;
   padding:0 0 0 0;
   text-decoration: none;        
}

#banner-description
{
   margin-top: 5px 0px 0px 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0px;
   background: none;
   font-size: 12px;
   font-weight: normal;
   line-height: 1.4;
   text-shadow: #36414d 0 1px 2px;
   padding:0 0 0 0;
}

#alpha { 
   margin: 15px 2px 5px 15px; 
   width: 548px; 
}
#beta { 
   width: 212px; 
   background: transparent; 
}
#gamma, #delta { width: 240px; background: #e6ecf2; }

#beta-inner,
#gamma-inner,
#delta-inner
{
   padding: 10px 10px 0 1px;
   border-width: 2px 2px 2px 0;
   border-style: solid;
   border-color: #fff;
}

.date-header
{
   margin-top: 0;
   font-size: 11px;
   font-weight: bold;
   text-transform: capitalize;
   line-height: 1.0;
}

/* &#230;&#381;¡ì&#229;&#710;&#182;&#229;&#141;&#8226;&#231;&#175;&#8225;Blog&#230; &#8225;¨¦&#162;&#732;&#230; &#188;&#229;&#188;&#143; */

.entry-header
{
   margin-top: 0;
   padding: 0 0 0 0;
   font-size: 14px;
   font-weight: bold;
   line-height: 1.4;
}

.entry-content,
.comment-content,
.trackback-content
{
   margin: 0;
   line-height: 1.5;
}

.entry-footer,
.comment-footer,
.trackback-footer
{
   margin: 0 0 10px 0;
   border-top: 1px solid #dae0e6;
   padding-top: 3px;
   color: #666;
   font-size: 11px;
   text-align: right;
}

.comment-content,
.trackback-content,
.comment-footer,
.trackback-footer
{
   margin-left: 10px;
   margin-right:8px;
}

.content-nav { margin-top: 0; }

#trackbacks-info
{
   margin: 10px 5px 0 5px;
   border: 1px dashed #a3b8cc;
   padding: 0 10px;
   color: #292e33;
   font-size: 11px;
   text-align: center;
   background: #e6ecf2;
}

.comments-open-footer
{
   margin: 10px 0 8px 8px;
}


/* modules */

.module
{
   margin: 0 0 1px 0;
   border-bottom: 1px solid #f3f6f9;
   background: transparent;
}

/* &#229;&#143;&#179;¨¨&#190;&#185;&#230; &#143;&#230;¡§&#161;&#229;&#157;¡ª&#230; &#188;&#229;&#188;&#143; */
.module-content
{
   margin: 0 0 10px 0;
   padding: 10px 10px 0 10px;
   font-size: 12px;
   line-height: 1.2;
   background: transparent;
   font-family: Tahoma,'Trebuchet MS', Verdana, sans-serif;
   text-align:left;
}

.module-content ul,li
{
   line-height: 1.4;
   background: transparent;
   font-family: Tahoma,'Trebuchet MS', Verdana, sans-serif;
   text-align:left;
}


/* &#230;&#381;¡ì&#229;&#710;&#182;&#230;&#144;&#339;&#231;&#180;&#162;&#230; &#143;&#230; &#188;&#229;&#188;&#143; */
.module-search input { 
    font-size: 14px; 
    font-family: Tahoma,"Trebuchet MS", Verdana;
}
.module-search #search { 
    width: 100px; 
}

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 10px; }

/* &#230;&#381;¡ì&#229;&#710;&#182; Powered &#230; &#143; */
.module-powered { border-width: 0; }
.module-powered .module-content
{
   margin-bottom: 0;
   border: 1px dashed #a3b8cc;
   padding-bottom: 10px;
   color: #292e33;
   background: #fff;
}

.module-photo { background: none; }
.module-photo img { border: solid 1px #fff; }

.module-list
{
   margin: 0 5px 10px 15px;
   list-style: disc;
}

.module-list .module-list
{
   margin: 5px 0 0 0;
   padding-left: 15px;
   list-style: circle;
}

.module-list-item
{
   margin-top: 0;
   color: #666;
   line-height: 1.2;
}

.typelist-thumbnailed .module-list
{
   margin: 0 0 10px 0;
   list-style: none;
}

.typelist-thumbnailed .module-list-item
{
   margin: 1px 0;
   padding: 0;
   background: #f3f6f9;
}

.typelist-thumbnail
{
   background: #fff;
}

.module-photo img { border: 1px solid #fff; }

.module-featured-photo { width: 398px; }
.module-featured-photo .module-content
{
   margin: 0;
   border-width: 0;
   padding: 0;
}
.module-featured-photo img { width: 398px; }

.module-recent-photos .module-content { padding: 10px 0 0 19px; }
.module-recent-photos .module-list { margin: 0; }
.module-recent-photos .module-list-item
{
   width: 64px; /* mac ie fix */
   margin: 0 10px 10px 0;
   padding: 0;
   background: none;
}

.module-recent-photos .module-list-item a
{
   border: #cfd4d9 1px solid;
   padding: 1px;
   background: #fff;
}

.module-recent-photos .module-list-item a:hover
{
   border-color: #36414d;
   background: #fff;
}


/* calendar tweaks */

   .layout-calendar #alpha { width: 260px; }
   .layout-calendar #beta { width: 420px; }

   .layout-calendar #gamma,
   .layout-calendar #delta
   {
      width: 190px;
   }

   .layout-calendar #gamma-inner,
   .layout-calendar #delta-inner
   {
      border: 0;
      padding: 0;
   }

   .module-mmt-calendar { width: 398px; }
   .module-mmt-calendar .module-content
   {
      margin: 0;
      border-width: 0;
      padding: 10px;
   }

   .module-mmt-calendar table
   {
      width: 378px;
      background: #a3b8cc;
   }

   .module-mmt-calendar th
   {
      color: #fff;
      border-top: 1px solid #fff;
      border-right: 1px solid #f3f6f9;
      border-bottom: 1px solid #cfd4d9;
      padding: 2px;
      text-align: right;
      font-weight: bold;
   }

   .module-mmt-calendar td
   {
      border-top: 1px solid #fff;
      border-right: 1px solid #f3f6f9;
      border-bottom: 1px solid #cfd4d9;
      padding: 2px;
      text-align: right;
      font-weight: normal;
      background: #e6ecf2;
   }

   th.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
   {
      border-right: none;
   }

   .module-mmt-calendar td { height: 70px; }

   .day-photo
   {
      width: 49px;
      height: 49px;
   }
	
   .day-photo a
   {
      border: #cfd4d9 1px solid;
      padding: 1px;
      background: #fff;
   }

   .day-photo a:hover
   {
      border-color: #36414d;
      background: #fff;
   }

   .day-photo a img
   {
      width: 45px;
      height: 45px;
   }


/* artistic tweaks */

   .layout-artistic #alpha { width: 260px; }
   .layout-artistic #beta { width: 420px; }

   .layout-artistic #gamma,
   .layout-artistic #delta
   {
      width: 190px;
   }

   .layout-artistic #gamma-inner,
   .layout-artistic #delta-inner
   {
      border: 0;
      padding: 0;
   }


/* moblog1 tweaks */

   .layout-moblog1 #alpha
   {
      margin: 0;
      width: 180px;
      background: #e6ecf2;
   }

   .layout-moblog1 #alpha-inner
   {
      padding: 10px 1px 0 10px;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: #fff;
   }

   .layout-moblog1 #beta
   {
      margin: 15px 1px 0 15px;
      width: 320px;
      background: none;
   }

   .layout-moblog1 #beta-inner
   {
      padding: 0;
      border-width: 0;
   }

   .layout-moblog1 .module-recent-photos .module-content { padding: 10px 0 0 10px; }


/* moblog2 tweaks */

   .layout-moblog2 #alpha
   {
      margin: 0;
      width: 86px;
      background: #e6ecf2;
   }

   .layout-moblog2 #alpha-inner
   {
      padding: 10px 10px 0 10px;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: #fff;
   }

   .layout-moblog2 #beta
   {
      margin: 15px 15px 0 15px;
      width: 260px;
      background: none;
   }

   .layout-moblog2 #beta-inner
   {
      padding: 0;
      border-width: 0;
   }

   .layout-moblog2 #delta
   {
      width: 154px;
   }

   .layout-moblog2 .module-recent-photos
   {
      border: 0;
      background: none;
   }

   .layout-moblog2 .module-recent-photos .module-content
   {
      padding: 0;
      border: 0;
   }

   .layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 10px 0; }


/* timeline tweaks */

   .layout-timeline #alpha { width: 260px; }
   .layout-timeline #beta { width: 420px; }

   .layout-timeline #gamma,
   .layout-timeline #delta
   {
      width: 190px;
   }

   .layout-timeline #gamma-inner,
   .layout-timeline #delta-inner
   {
      border: 0;
      padding: 0;
   }


/* one-column tweaks */

   .layout-one-column body { min-width: 780px; }
   .layout-one-column #container { width: 780px; }
   .layout-one-column #alpha{ width: 750px; }
   .layout-one-column #banner { width: 779px; } /* necessary for ie win */


/* two-column-left tweaks */

   .layout-two-column-left #alpha
   {
      margin: 0;
      width: 200px;
      background: #e6ecf2;
   }

   .layout-two-column-left #alpha-inner
   {  
      padding: 5px 5px 0 10px;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: #fff;
   }

   .layout-two-column-left #beta
   {
      margin: 15px 1px 0 15px;
      width: 480px;
      background: none;
   }

   .layout-two-column-left #beta-inner
   {
      padding: 0;
      border-width: 0;
   }


/* three-column tweaks */

   .layout-three-column #alpha
   {
      margin: 0;
      width: 180px;
      background: #e6ecf2;
   }

   .layout-three-column #alpha-inner
   {  padding: 10px 10px 0 10px;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: #fff;
   }

   .layout-three-column #beta
   {
      margin: 15px 15px 0 15px;
      width: 320px;
      background: none;
   }

   .layout-three-column #beta-inner
   {
      padding: 0;
      border-width: 0;
   }



/* &#230;&#381;¡ì&#229;&#710;&#182; pre &#231;&#353;&#8222;&#230; &#188;&#229;&#188;&#143; */
pre {
    font-family: "Courier New", Courier, mono;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: pre;
    background-color: #efefef;
    width: 100%;
    background: #efefef;
    line-height: 150%;
}

acronym {
    border-bottom: 1px dotted #bbd0f9;
    cursor: help;
}

hr {
    position: relative;
    visibility: visible;
    height: 1px;
    border: solid #8FAEBE;
    width: 100%;
}


#nav {
    margin-bottom:-1px !important;
    margin:0; padding:0;
    padding-right: 0px; 
    padding-left: 382px; 
    font-size: 100%; 
    background: transparent;  
    float: left; 
    padding-bottom: 0px !important; 
    padding-top: 5px !important; 
    margin: 0px 0px 0px 0px; 
    font-family: Tahoma,"Trebuchet MS", Verdana;
    }

#nav ul {
    margin-bottom:0 !important;
    margin:0 !important; 
    padding:0;
    padding-right: 0px; 
    padding-left: 0px; 
    float: left; 
    padding-bottom: 0px; 
    margin: 0px 0px 0px 0px; 
    padding-top: 0px; 
    list-style-type: none; 
    border: 1px solid #bbd0f9;
    line-height: 120%;
}
#nav li {
    margin-bottom:0px !important;
    padding-right: 0px; 
    padding-left: 0px; 
    float: left; 
    padding-bottom: 0px !important; 
    margin: 0px 6px 0px 0px; 
    padding-top: 0px; 
    list-style-type: none;
    line-height: 120%;
    }

#nav li a {
    margin-bottom:0px !important;
    margin: 0;
    /* setting border: 0 hoses ie5 win window inner well border */
    padding: 0;
    padding-right: 8px; 
    display: block; 
    padding-left: 8px; 
    font-weight: normal; 
    background: #bbd0f9; 
    float: left; 
    padding-bottom: 3px; 
    border-top-style: none; 
    padding-top: 4px !important; 
    border-right-style: none; 
    border-left-style: none; 
    text-decoration: none; 
    line-height: 120%;
    }

#nav li a:hover {
    background: #fff; 
    color:black;
}

/* color&#230;&#381;¡ì&#229;&#710;&#182;,&#229;&#144;&#166;&#229;&#710;&#8482; Firefox &#230;&#339;¡ëBug */ 
#nav li a:hover {
    background: #fff;
    color:black;
}

#blogroll {
line-height: 120%;
}

.entry-content  ul {
    line-height: 140%;
    list-style: disc;
}

.entry-content  li {
    line-height: 150%;
    list-style: disc;
}


.delicious-posts ul, .delicious-posts li, .delicious-banner { 
   line-height: 140%;
   background: transparent;
   font-family: Tahoma,'Trebuchet MS', Verdana, sans-serif;
   text-align:left;
   LIST-STYLE-TYPE: disc
}

.delicious-extended {
   font-size: 100%;
   font-family: Tahoma,'Trebuchet MS', Verdana, sans-serif;
}

.delicious-tag {
   font-size: 100%;
   font-family: Verdana,Tahoma,'Trebuchet MS', sans-serif;
}

.tags {
   font-family: Verdana,Tahoma,'Trebuchet MS', sans-serif !important;
}

.entry-tags {
    margin: 0 0 0px 5px;
}

.entry-tags-header,
.entry-tags-list,
.entry-tag { display: inline; }

.entry-tags-list {
    list-style:none;
}
